<script src="{{ 'custom-product-page.js'| asset_url }}" defer></script>

<section>
    <!-- Main image display (this will update based on the selected thumbnail) -->
    <div class="main-carousel x-p-[16px] x-pb-[10px]" data-flickity='{ "fullscreen": true }'>
        {% if product.variants.size > 1  %}
                <!-- Loop over variants if product has multiple variants -->
                {% for variant in product.variants %}
                    {% if variant.selected %}
                        <div class="carousel-cell x-flex x-flex-col">
                            <img id="main-image" src="{{ variant.featured_image | image_url: width: '1000', height: '1000' }}"
                                alt="Main Image" width="100%" height="100%">
                        </div>
                        {% for url in variant.metafields.custom.img_src.value %}
                            <div class="carousel-cell">
                                <img src="{{ url }}" alt="Main Image Variant" width="100%" height="100%">
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
            <!-- No variants, display product's main image directly -->
            <div class="carousel-cell">
                <img id="main-image" src="{{ product.media.first.preview_image | image_url: width: '1000', height: '1000' }}"
                    alt="Main Image" width="100%" height="100%">
            </div>
            {% for url in product.metafields.custom.img_src.value %}
                <div class="carousel-cell">
                    <img src="{{ url }}" alt="Main Image" width="100%" height="100%">
                </div>
            {% endfor %}
        {% endif %}
    </div>

   <!-- Thumbnails carousel -->
    <div class="thumbnail-carousel x-shadow-none x-ml-[16px] x-h-full">
    {% if product.variants.size > 1 %}
            <!-- Display thumbnails for variants -->
            {% for variant in product.variants %}
                {% if variant.selected %}
                    <div class="x-mr-[10px] thumbnail">
                        <img src="{{ variant.featured_image | image_url: width: '1000', height: '1000' }}" alt="Thumbnail"
                            width="75px" height="75px">
                            <div style="width: 75px; height: 2px; background-color: black; margin-top: 6px;">.</div>
                    </div>
                    {% for url in variant.metafields.custom.img_src.value %}
                        <div class="x-mr-[10px] thumbnail">
                            <img src="{{ url }}" alt="Thumbnail Image" width="75px" height="75px">
                            <div style="width: 75px; height: 2px; background-color: black; margin-top: 6px;">.</div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% else %}
            <!-- No variants | display product thumbnail -->
            <div class="x-mr-[10px] thumbnail">
                <img src="{{ product.media.first.preview_image | image_url: width: '1000', height: '1000' }}" alt="Thumbnail" width="75px" height="75px">
            </div>
        {% for url in product.metafields.custom.img_src.value %}
            <div class="x-mr-[10px] thumbnail">
                <img src="{{ url }}" alt="Thumbnail Image" width="75px" height="75px">
            </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="x-p-[16px]">
        <div class="x-py-[25px]">
            <div>
                <div>{{ product.title }}</div>
                <div>reviews</div>
            </div>
            <div>
                <div id="variant-price"></div>
                <div>
                    <div>some content</div>
                    <div class="">{{ product.description }}</div>
                    <div id="variant-description"></div>
                </div>
            </div>
            <div>
                <div>{{ product.options[0] }}: </div>
                <div id="variant-buttons" class="x-flex x-gap-4 x-justify-start">
                    {% if product.variants.size > 1 %}
                        {% for variant in product.variants %}
                            <button
                                class="variant-button {% if forloop.first %} active {% endif %} x-flex x-items-center x-justify-center x-rounded-full x-w-auto x-h-auto x-border-2"
                                style="border-color: {{ variant.metafields.custom.color_hexcode }};" data-id="{{ variant.id }}"
                                data-price="{{ variant.price | money }}"
                                data-variant-desc="{{ variant.metafields.custom.variant_desc.value }}"
                                data-thumbnails="{{ variant.metafields.custom.img_src.value | join: ', ' }}"
                                data-url="{{ variant.featured_image | image_url: width: '1000', height: '1000' }}">
                                
                                {% if variant.metafields.custom.color_hexcode %}
                                    <span class="inner-circle x-block x-rounded-full x-w-[32px] x-h-[32px]"
                                        style="background-color: {{ variant.metafields.custom.color_hexcode }};">
                                    </span>
                                    {% else %}
                                        <span class="x-text-center x-px-2">{{ variant.title }}</span>
                                {% endif %}
                            </button>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Quantity Selector -->
                <div class="x-w-full x-mb-4 x-text-center">
                    <button id="decreaseQty"
                        class="x-text-xl x-font-bold x-px-4 x-py-2 x-bg-gray-300 x-rounded">-</button>
                    <input id="quantityInput" type="number" value="1" min="1"
                        class="x-w-12 x-text-center x-border-none x-bg-transparent x-outline-none x-text-black"
                        readonly>
                    <button id="increaseQty"
                        class="x-text-xl x-font-bold x-px-4 x-py-2 x-bg-gray-300 x-rounded">+</button>
                </div>
                <!-- Add to cart Selector -->
                <div class="x-w-full x-mb-4 x-text-center">
                    <button id="checkoutButton"
                        class="x-text-xl x-font-bold x-py-2 x-px-4 x-text-black x-border x-border-black x-bg-transparent x-rounded-none">
                        Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        initializeFlickity();
        setFirstOptionSelected();
        bindVariantButtonClick();

        $("#variant-buttons .variant-button.active").trigger('click');

        $('#decreaseQty').click(function () {
            let currentValue = parseInt($('#quantityInput').val());
            if (currentValue > 1) {
                $('#quantityInput').val(currentValue - 1);
            }
        });
        $('#increaseQty').click(function () {
            let currentValue = parseInt($('#quantityInput').val());
            $('#quantityInput').val(currentValue + 1);
        });

        $('#checkoutButton').click(function () {
            let productId;

            if ($("#variant-buttons .variant-button").length > 0) {
                productId = $("#variant-buttons .variant-button.active").data('id');
            } else {
                productId = "{{ product.variants.first.id }}";
            }

            addToCart(productId);
        });
        checkThumbnailVisibility();
        bindFullscreenToMainImage();
    });

    function bindFullscreenToMainImage() {
        $(".main-carousel .carousel-cell").off("click").on("click", function () {
            $(".main-carousel").flickity('viewFullscreen');
        });
    }

    function checkThumbnailVisibility() {
        let thumbnailCount = $(".thumbnail-carousel .thumbnail").length;
        if (thumbnailCount <= 1) {
            $(".thumbnail-carousel").hide();
        } else {
            $(".thumbnail-carousel").show();
        }
    }

    function bindVariantButtonClick() {
        $("#variant-buttons .variant-button").on('click', function () {
            let $button = $(this);
            let selection = $button.data('id');
            let imageUrl = $button.data('url');
            let price = $button.data('price');
            let variantDesc = $button.data('variant-desc');
            let thumbnailUrls = $button.data('thumbnails').split(', ');

            handleVariantSelection($button, selection, imageUrl, price, variantDesc, thumbnailUrls);
            checkThumbnailVisibility();
        });
    }

    function handleVariantSelection($button, selection, imageUrl, price, variantDesc, thumbnailUrls) {
        var $carousel = initializeMainCarousel();
        updateUrl(selection);
        changeThumbnail(imageUrl);
        changeMainImage(imageUrl);
        setThumbnails([imageUrl, ...thumbnailUrls]);
        updateVariantDetails(variantDesc, price);
        bindCarouselClick($carousel);
        setActiveButton($button);
    }

    function initializeMainCarousel() {
        return $('.main-carousel').flickity({
            fullscreen: true,
            pageDots: false,
            prevNextButtons: false, 
            lazyLoad: 1
        });
    }

    function updateVariantDetails(variantDesc, price) {
        $('#variant-description').text(variantDesc);
        $('#variant-price').text(price);
    }

    function setActiveButton($button) {
        $("#variant-buttons .variant-button").removeClass('active');
        $button.addClass('active');
    }

    function bindCarouselClick($carousel) {
        $('.carousel-cell').on('click', function () {
            $carousel.flickity('viewFullscreen');
        });
    }

    function addToCart(productId) {
        const checkoutButton = $('#checkoutButton');
        const quantity = parseInt($('#quantityInput').val()); // Use the selected quantity
        if (!checkoutButton.prop('disabled')) {
            $.ajax({
                url: '/cart/add.js',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ id: productId, quantity: quantity }), // Pass the selected quantity here
                success: function (data) {
                    console.log('Product added to cart:', data);
                    resetQuantityCounter();
                },
                error: function (error) {
                    console.error('Error adding to cart:', error);
                }
            });
        } else {
            alert('The selected variant is out of stock.');
        }
    }

    function resetQuantityCounter() {
        $('#quantityInput').val(1);
    }

    function setThumbnails(thumbnailUrls) {
        let $mainCarousel = $(".main-carousel").flickity({
            initialIndex: 0,
            contain: true,
        });

        let $thumbnailCarousel = $(".thumbnail-carousel").flickity({
            initialIndex: 0,
            cellAlign: 'left',
            contain: true
        });

        let allCurrentMainImages = $('.main-carousel .carousel-cell');
        let allCurrentThumbnails = $('.thumbnail');

        $mainCarousel.flickity('remove', allCurrentMainImages);
        $thumbnailCarousel.flickity('remove', allCurrentThumbnails);

        thumbnailUrls.forEach((url, index) => {
            let $main = $('<div class="carousel-cell"><img src="' + url + '" alt="" width="100%" height="100%"></div>');
            let $thumbnail = $('<div class="x-mr-[10px] thumbnail"><img src="' + url + '" alt="" width="75px" height="75px"><div style="width: 75px; height: 2px; background-color: black; margin-top: 6px;">.</div></div>');

            $mainCarousel.flickity('append', $main);
            $thumbnailCarousel.flickity('append', $thumbnail);
        });

        $mainCarousel.flickity('select', 0);
        $thumbnailCarousel.flickity('select', 0);

        checkThumbnailVisibility();
    }

    function changeMainImage(imgUrl) {
        $("#main-image").attr('src', imgUrl);
    }

    function changeThumbnail(imgUrl) {
        $("#main-image").attr('src', imgUrl);
        $(".featured-image-thumbnail img").attr('src', imgUrl);
    }

    function setFirstOptionSelected() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('variant')) {
            let variantId = urlParams.get('variant');
            console.log('hello', variantId);
            let $button = $("#variant-buttons .variant-button[data-id='" + variantId + "']");
            if ($button.length) {
                $button.addClass('active');
            } else {
                $("#variant-buttons .variant-button").first().addClass('active');
            }
        } else {
            updateUrl("{{ product.id }}");
            $("#variant-buttons .variant-button").first().addClass('active');
        }
    }

    function updateUrl(variantId) {
        let newUrl = window.location.href.split('?')[0] + '?variant=' + variantId;
        window.history.pushState({ path: newUrl }, '', newUrl);
    }

    function initializeFlickity() {
        // Main image carousel
        let $mainCarousel = $(".main-carousel").flickity({
            fullscreen: true,
            pageDots: false,
            prevNextButtons: true,
            fullscreen: true,
            lazyLoad: 1,
            adaptiveHeight: true
        });

        // Thumbnail Carousel
        let $thumbnailCarousel = $(".thumbnail-carousel").flickity({
            cellAlign: 'left',
            contain: true,
            pageDots: false,
            prevNextButtons: false,
            asNavFor: '.main-carousel'
        });
    }

</script>

<style>
    .main-carousel .carousel-cell {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 425px !important; */
    }

    .thumbnail-carousel>button,
    .thumbnail-carousel>.flickity-page-dots {
        display: none;
    }

    .thumbnail.is-nav-selected > div {
        opacity: 1;
    }

    .thumbnail > div {
        transition: opacity 0.3s ease;
    }

    .thumbnail > div {
        opacity: 0;
    }

    .thumbnail > img {
        width: 75px;
        height: 75px;
    }

    .flickity-button:disabled {
        display: none;
    }
    
    .main-carousel .flickity-viewport {
        transition: height 0.3s ease;
    }

    .main-carousel>.flickity-button.flickity-fullscreen-button.flickity-fullscreen-button-view {
        display: none;
    }

    .main-carousel.is-fullscreen .flickity-slider {
        display: flex;
        align-items: center;
    }

    .main-carousel.is-fullscreen .carousel-cell {
        display: flex;
        align-items: center;
        min-height: 425px !important;
        padding: 0 16px;
        background-color: beige;
        margin-right: 16px;
        z-index: 9999;
    }

    .main-carousel.is-fullscreen .flickity-page-dots {
        display: block;
        position: relative;
        bottom: 100px;
    }

    .main-carousel.is-fullscreen {
        z-index: 1000;
    }

    .thumbnail-carousel .thumbnail.is-selected.is-nav-selected {
        position: relative;
    }

    .flickity-page-dots {
        display: none;
    }

    .variant-button {
        transition: all 0.3s ease;
    }

    .inner-circle {
        transition: all 0.3s ease;
    }

    .variant-button.active .inner-circle {
        border: 4px solid white;
    }
</style>