<div class="x-relative x-overflow-hidden x-h-[850px]">
    <div class="rellax x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center x-hidden md:x-block" data-rellax-speed="-5"
        data-rellax-mobile-speed="-2"
        style="background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }});">
        {% comment %} style="background-image: url({{ section.settings.background_image_desktop | image_url: width: 1000 }});"> {% endcomment %}
        &nbsp;
    </div>

    <div class="rellax x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center x-block md:x-hidden" data-rellax-speed="-5"
        data-rellax-mobile-speed="-2"
        style="background-image: url({{ 'placeholder.jpg' |  asset_img_url: "1000x1000" }});">
        {% comment %} style="background-image: url({{ section.settings.background_image_mobile | image_url: width: 1000 }});"> {% endcomment %}
        &nbsp;
    </div>

    <div
        class="x-relative x-flex x-items-center max-[990px]:x-justify-center x-h-full x-text-center x-p-4 md:x-left-[100px]">
        <div class="x-absolute x-text-start x-flex x-flex-col x-justify-center x-items-start x-gap-4">
            <h2 class="x-text-white x-text-[36px] lg:x-text-[48px] x-font-medium x-uppercase x-font-amandine translate-up-20"
                data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="500"
                data-aos-order="2">
                {{ section.settings.heading }}
            </h2>
            <div class="translate-up-20" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"
                data-aos-delay="800" data-aos-order="3">
                <button
                    class="x-bg-transparent x-p-4 x-px-6 x-text-xl x-border x-border-white x-text-white x-uppercase hover:x-bg-white hover:x-text-black x-transition-colors x-duration-300">
                    {{ section.settings.button_text }}
                </button>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
"name": "Parallax Section",
"settings": [
{
"type": "image_picker",
"id": "background_image_desktop",
"label": "Desktop Background Image"
},
{
"type": "image_picker",
"id": "background_image_mobile",
"label": "Mobile Background Image"
},
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "YOUR PRODUCT NAME"
},
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "SHOP NOW"
}
],
"presets": [
{
"name": "Parallax Section",
"category": "Custom"
}
]
}
{% endschema %}