<div>
  <div class="x-font-myriad-pro">
    <div class="x-flex x-flex-col md:x-flex-row x-border-[1px] x-border-[#e5e7eb]">
      <div
        class="x-relative x-overflow-hidden x-h-[850px] x-w-full md:x-w-1/2 x-border-b-[1px] md:x-border-b-0 md:x-border-r-[1px] x-border-[#e5e7eb] translate-up-20"
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-order="1"
      >
        <div
          class="parallax-row x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center"
          style="background-image: url({{ 'img1.jpg' |  asset_img_url: '1000x1000' }});"
        >
          &nbsp;
        </div>
      </div>
      <div class="x-p-6 md:x-px-[50px] x-py-16 md:x-w-1/2 x-flex x-flex-col md:x-justify-center x-items-start x-bg-[#F5F9F1]">
        <div class="x-flex x-flex-col x-gap-[10px]">
          <div
            class="x-text-xl translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="1"
          >
            Introducing
          </div>
          <div
            class="x-text-4xl translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="2"
          >
            Plant Powered Makeup
          </div>
          <div
            class="x-text-xl x-w-[96%] translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="3"
          >
            A new generation, multifunctional beauty essentials formulated with botanical oils, Adaptogenic herbs from
            Ayurveda, and infused with rich pigments that look and, most importantly, feel incredible on the skin.
          </div>
        </div>
        <div
          class="translate-up-20"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
          data-aos-order="4"
        >
          <a
            href="{{ routes.all_products_collection_url }}"
          >
            <div class="x-mt-[24px] x-text-lg x-border-[1px] x-border-[#1A483C] x-px-32 x-py-4 x-text-[#1A483C] hover:x-bg-[#1A483C] hover:x-text-white x-transition-colors x-duration-300">
              SHOP NOW
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="x-flex x-flex-col md:x-flex-row-reverse">
      <div
        class="x-relative x-overflow-hidden x-h-[850px] x-w-full md:x-w-1/2 translate-up-20"
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-order="1"
      >
        <div
          class="parallax-row x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center"
          style="background-image: url({{ 'img2.jpg' |  asset_img_url: '1000x1000' }});"
        >
          &nbsp;
        </div>
      </div>
      <div class="x-p-6 md:x-px-[50px] x-py-16 md:x-w-1/2 x-flex x-flex-col md:x-justify-center x-items-start x-bg-[#1A483C]">
        <div class="x-flex x-flex-col x-gap-[10px] x-text-white">
          <div
            class="x-text-4xl translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="1"
          >
            A shade for everyone
          </div>
          <div
            class="x-text-xl x-w-[96%] translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="2"
          >
            Find the perfect shade that accentuates your natural beauty, without compromising on performance,
            ingredients or our planet.
          </div>
        </div>
        <div
          class="translate-up-20"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
          data-aos-order="3"
        >
          <a
            href="{{ routes.all_products_collection_url }}"
          >
            <div class="x-mt-[24px] x-text-lg x-border-[1px] x-border-white x-px-32 x-py-4 x-text-white hover:x-bg-white hover:x-text-black x-transition-colors x-duration-300 ">
              SHOP NOW
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="x-flex x-flex-col md:x-flex-row x-border-[1px] x-border-[#e5e7eb]">
      <div
        class="x-relative x-overflow-hidden x-h-[850px] x-w-full md:x-w-1/2 x-border-b-[1px] md:x-border-b-0 md:x-border-r-[1px] x-border-[#e5e7eb] translate-up-20"
        data-aos="fade"
        data-aos-duration="1000"
        data-aos-once="true"
        data-aos-order="1"
      >
        <div
          class="parallax-row x-absolute x-inset-0 x-w-full x-h-[110%] x-bg-cover x-bg-center"
          style="background-image: url({{ 'img3.jpg' |  asset_img_url: '1000x1000' }});"
        >
          &nbsp;
        </div>
      </div>
      <div class="x-p-6 md:x-px-[50px] x-py-16 md:x-w-1/2 x-flex x-flex-col md:x-justify-center x-items-start x-bg-[#F5F9F1]">
        <div class="x-flex x-flex-col x-gap-[10px]">
          <div
            class="x-text-xl translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="1"
          >
            Sustainable Beauty
          </div>
          <div
            class="x-text-4xl translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="2"
          >
            Recyclable Packaging
          </div>
          <div
            class="x-text-xl x-w-[96%] translate-up-20"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-once="true"
            data-aos-order="3"
          >
            Our containers are crafted from recycled or recylable materials, and we strive to reduce excess packaging
            whenever possible.
          </div>
        </div>
        <div
          class="translate-up-20"
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
          data-aos-order="4"
        >
          <a
            href="{{ routes.all_products_collection_url }}"
          >
            <div
              class="x-mt-[24px] x-text-lg x-border-[1px] x-border-[#F5F9F1] x-px-32 x-py-4 x-text-white x-bg-[#1A483C] hover:x-bg-[#1f2012] x-transition-colors x-duration-300"
            >
              LEARN MORE
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('scroll', function () {
    const parallaxSections = document.querySelectorAll('.parallax-row');
    parallaxSections.forEach((parallax) => {
      const speed = 0.3; // Adjust the speed for the desired parallax effect
      const sectionTop = parallax.parentElement.offsetTop; // Get the top position of the parent element relative to the document
      const scrollPosition = window.scrollY;
      const windowHeight = window.innerHeight;

      // Check if the section is in the viewport
      if (
        scrollPosition + windowHeight > sectionTop &&
        scrollPosition < sectionTop + parallax.parentElement.offsetHeight
      ) {
        const yPos = (scrollPosition - sectionTop) * speed; // Calculate the parallax effect
        parallax.style.transform = `translateY(${yPos}px)`;
      }
    });
  });
</script>
