<section class="x-p-[16px] md:x-p-[50px] x-bg-[#F9F8F5]">
    <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px] md:x-gap-[50px]">
        <div class="md:x-w-1/2 x-relative x-overflow-hidden x-h-[630px] x-w-full x-border-[1px]">
            <div class="parallax-s x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
            </div>
        </div>
        <div
            class="md:x-w-1/2 x-border-[1px] x-p-[16px] x-py-[26px] x-pt-[32px] md:x-p-[50px] md:x-flex md:x-items-center">
            <div class="x-flex x-flex-col x-gap-[8px] md:x-gap-[16px] x-text-[14px] md:x-text-[16px]">
                <div>Makeup that's good for your skin and planet</div>
                <div class="x-text-[26px] x-leading-[28px] md:x-text-[30px]">OUR SUSTAINABILITY EFFORTS
                </div>
                <div><span class="x-italic">It's all about the small actions.</span> From our formulas to our packaging,
                    sustainability is part of every decision we make. Our goal is
                    to thoughtfully create high performing beauty essentials that are kind to our skin and the planet.
                </div>
            </div>
        </div>
    </div>
</section>

<section class="x-py-[32px] md:x-py-[40px] md:x-px-[50px]">
    <div>
        <div class="x-py-[16px] md:x-py-[32px] x-text-center x-text-[20px] md:x-text-[24px]">1. Formulation & Ingredient
            Sourcing</div>
        <div>
            <div class="x-hidden md:x-flex x-flex-row x-max-w-[1440px] x-mx-auto">
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px] md:x-text-[18px]">Multi tasking products</div>
                        <div class="x-text-[12px]">Our products are designed to be multi-tasking and multi-use, to
                            reduce the number of
                            products in your beauty routine, therefore, minimizing packaging waste ending in landfills.
                        </div>
                    </div>
                </div>
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px] md:x-text-[18px]">Long lasting formulation</div>
                        <div class="x-text-[12px]">Our formulas are concentrated and rich in pigmentation, and are
                            designed to last long, increasing the time between repurchases.
                        </div>
                    </div>
                </div>
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px] md:x-text-[18px]">Conscious Ingredients</div>
                        <div class="x-text-[12px]">Our products are water-free, and made without petrochemicals and
                            petroleum by-products.
                        </div>
                    </div>
                </div>
            </div>
            <div class="first-s-content-carousel x-block md:x-hidden">
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px]">Multi tasking products</div>
                        <div class="x-text-[12px]">Our products are designed to be multi-tasking and multi-use, to
                            reduce the number of
                            products in your beauty routine, therefore, minimizing packaging waste ending in landfills.
                        </div>
                    </div>
                </div>
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px]">Long lasting formulation</div>
                        <div class="x-text-[12px]">Our formulas are concentrated and rich in pigmentation, and are
                            designed to last long, increasing the time between repurchases.
                        </div>
                    </div>
                </div>
                <div class="x-w-full x-px-[16px] md:x-px-[20px]">
                    <div class="x-py-[16px] md:x-py-[20px] x-flex x-flex-col x-gap-[10px]">
                        <div class="x-text-[16px]">Conscious Ingredients</div>
                        <div class="x-text-[12px]">Our products are water-free, and made without petrochemicals and
                            petroleum by-products.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="x-p-[16px] md:x-p-[50px] x-bg-[#F9F8F5]">
    <div class="x-flex x-flex-col x-gap-[16px] md:x-gap-[50px]">
        <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px] md:x-gap-[50px]">
            <div class="md:x-w-1/2 x-relative x-overflow-hidden x-h-[630px] x-w-full">
                <div class="parallax-s x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
                </div>
            </div>
            <div
                class="md:x-w-1/2 x-p-[16px] x-py-[26px] x-pt-[32px] md:x-p-[50px] md:x-flex md:x-items-center x-bg-white">
                <div class="x-flex x-flex-col x-gap-[8px] md:x-gap-[16px] x-text-[14px]">
                    <div>The Miracle Green Metal</div>
                    <div class="x-text-[26px] x-leading-[28px] md:x-text-[30px]">2. Primary Packaging
                    </div>
                    <div>Most of our packaging is made from aluminum, one of the most sustainable building materials in
                        the world, due to its ability to be recycled and reused infinitely without losing its
                        properties. In fact, about 75% of all aluminum ever produced in the world is still in use today,
                        therefore, reducing packaging waste in landfills. Our plastic product packaging is made with 50%
                        PCR, recycled plastic, helping to decrease waste
                        in landfills.
                    </div>
                </div>
            </div>
        </div>

        <div class="x-flex x-flex-col md:x-flex-row-reverse x-gap-[16px] md:x-gap-[50px]">
            <div class="md:x-w-1/2 x-relative x-overflow-hidden x-h-[630px] x-w-full">
                <div class="parallax-s x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
                </div>
            </div>
            <div
                class="md:x-w-1/2 x-p-[16px] x-py-[26px] x-pt-[32px] md:x-p-[50px] md:x-flex md:x-items-center x-bg-white">
                <div class="x-flex x-flex-col x-gap-[8px] md:x-gap-[16px] x-text-[14px]">
                    <div>Reduce • Reuse • Recycle</div>
                    <div class="x-text-[26px] x-leading-[28px] md:x-text-[30px]">3. Minimal, upcycled packaging
                    </div>
                    <div>We minimize and reduce excess packaging whenever possible. Our product cartons, shipping boxes,
                        and filler material are recyclable and biodegradable.
                    </div>
                </div>
            </div>
        </div>

        <div class="x-flex x-flex-col md:x-flex-row x-gap-[16px] md:x-gap-[50px]">
            <div class="md:x-w-1/2 x-relative x-overflow-hidden x-h-[630px] x-w-full">
                <div class="parallax-s x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center"
                    style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
                </div>
            </div>
            <div
                class="md:x-w-1/2 x-p-[16px] x-py-[26px] x-pt-[32px] md:x-p-[50px] md:x-flex md:x-items-center x-bg-white">
                <div class="x-flex x-flex-col x-gap-[8px] md:x-gap-[16px] x-text-[14px]">
                    <div class="x-text-[26px] x-leading-[28px] md:x-text-[30px]">4. Carbon Neutral Certified
                    </div>
                    <div>We measured and offset all our carbon emissions by funding reforestation, farm power, and
                        landfill gas capture to remove carbon from the environment. We will continue this mission every
                        year.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div>
        <div class="x-relative x-overflow-hidden x-h-[472px] x-w-full x-flex x-justify-center">
            <div class="parallax-s x-absolute x-inset-0 x-w-full x-h-[130%] x-bg-cover x-bg-center x-flex"
                style="background-image: url({{ 'founder_pholder.png' | asset_url }});">
            </div>
            <div class="x-w-full x-h-full x-relative x-flex x-items-center x-justify-center">
                <div class="x-text-[32px] md:x-text-[36px] x-leading-[36px] x-text-white x-text-center x-font-medium">
                    OUR COMMITMENT TO A<br class="lg:x-hidden"> GREENER PLANET
                </div>
            </div>
        </div>
        <div
            class="x-flex x-flex-row x-gap-[16px] md:x-gap-[32px] x-py-[72px] x-px-[16px] md:x-px-[50px] md:x-text-[20px] x-max-w-[1440px] x-mx-auto">
            <div>We will continue to consciously develop products that genuinely add value to your beauty routine,
                without comprimising on performance, people, or the planet. </div>
            <div>We will continue to evaluate, research, and improve sustainable practices in all business areas to
                minimize waste and footprint to leave a cleaner, greener planet for our future generation. </div>
        </div>
    </div>
</section>

<section>
    <div class="x-bg-[#4D4032] x-py-[50px] x-px-[16px]">
        <div class="x-text-center x-text-white x-text-[12px] md:x-text-[14px] md:x-leading-[18px] md:x-w-[570px] md:x-mx-auto">
            We understand we are not perfect, but we are always researching and exploring for better solutions. If you have
            any suggestions for cleaner designs, please let us know at <a href="#" class="x-underline">info@officialchloee.com</a>
        </div>
    </div>
</section>

<style>
    .first-s-content-carousel>.flickity-page-dots .dot {
        width: 6px;
        height: 6px;
    }

    .first-s-content-carousel>.flickity-prev-next-button {
        display: none;
    }
</style>

<script>
    let flkty = new Flickity(".first-s-content-carousel", {});
</script>

<script>
    $(document).ready(function () {
        applyParallax();
    });

    $(window).on('scroll', function () {
        applyParallax();
    });

    function applyParallax() {
        $('.parallax-s').each(function () {
            const speed = 0.15; // Adjust the speed for the desired parallax effect
            const initialOffset = 0; // Offset to move the image down initially
            const sectionTop = $(this).parent().offset().top; // Get the top position of the parent element relative to the document
            const scrollPosition = $(window).scrollTop();
            const windowHeight = $(window).height();
            const sectionHeight = $(this).parent().outerHeight();

            // Check if the section is in the viewport
            if (scrollPosition + windowHeight > sectionTop && scrollPosition < sectionTop + sectionHeight) {
                const yPos = (scrollPosition - sectionTop) * speed + initialOffset; // Apply the initial offset
                $(this).css('transform', `translateY(${yPos}px)`);
            }
        });
    }
</script>