{% assign product = all_products["test-product-2"] %}

{{ product.has_only_default_variant }}

<div class="resizable">
    <div class="x-grid x-grid-cols-3 x-row-span-auto x-h-full">

        {% comment %} only has default card {% endcomment %}
        <div class="product-card x-border x-flex x-flex-col">
            <div class="product-image x-relative x-h-full x-bg-cover x-bg-center" style="background-image: url({{ 'asset1.webp' | asset_url }});">
                <button class="add-button x-bg-white x-absolute x-bottom-0 x-w-full  x-overflow-y-hidden x-flex x-items-center x-justify-center">
                    Add to cart
                </button>
            </div>
            <a href="#" class="product-details x-h-[96px] x-flex x-flex-col x-justify-center x-gap-[2px] x-px-[8px]">
                <div class="">product name</div>
                <div class="">product price</div>
            </a>
        </div>

        {% comment %} has color variant card {% endcomment %}
        <div class="product-card x-border x-flex x-flex-col">
            <div class="product-image x-relative x-h-full x-bg-cover x-bg-center" style="background-image: url({{ 'asset1.webp' | asset_url }});">
                <div class="variants x-flex x-flex-row x-absolute x-bottom-0 x-w-full x-overflow-y-hidden x-items-center">
                    <button class="back-button x-absolute x-left-[8px] x-text-[24px] x-text-gray-300 hover:x-text-gray-600 x-transition-colors x-duration-300"><i class='bx bx-x-circle'></i></button>
                    <div class="x-flex x-justify-center x-items-center x-w-full"
                        data-flickity='{ "freeScroll": true, "cellAlign": "left" }'>
                        <button class="variant-choice color" data-variant-image="{{ 'asset1.webp' | asset_url }}">
                            <div style="background-color: red;">&nbsp;</div>
                        </button>
                        <button class="variant-choice color" data-variant-image="{{ 'asset2.jpg' | asset_url }}">
                            <div style="background-color: blue">&nbsp;</div>
                        </button>
                        <button class="variant-choice color" data-variant-image="{{ 'founder_pholder.png' | asset_url }}">
                            <div style="background-color: green">&nbsp;</div>
                        </button>
                        <button class="variant-choice color" data-variant-image="{{ 'asset1.webp' | asset_url }}">
                            <div style="background-color: red;">&nbsp;</div>
                        </button>
                        <button class="variant-choice color" data-variant-image="{{ 'asset2.jpg' | asset_url }}">
                            <div style="background-color: blue">&nbsp;</div>
                        </button>
                        <button class="variant-choice color" data-variant-image="{{ 'founder_pholder.png' | asset_url }}">
                            <div style="background-color: green">&nbsp;</div>
                        </button>
                    </div>
                </div>
                <button class="add-button x-bg-white x-absolute x-bottom-0 x-w-full x-overflow-y-hidden x-flex x-items-center x-justify-center">
                    Add to cart
                </button>
            </div>
            <a href="#" class="product-details x-h-[96px] x-flex x-flex-col x-justify-center x-gap-[2px] x-px-[8px]">
                <div class="">product name</div>
                <div class="">product price</div>
            </a>
        </div>

        {% comment %} has a variant but not color card {% endcomment %}
        <div class="product-card x-border x-flex x-flex-col">
            <div class="product-image x-relative x-h-full x-bg-cover x-bg-center" style="background-image: url({{ 'asset1.webp' | asset_url }});">
                <div
                    class="variants x-flex x-flex-row x-absolute x-bottom-0 x-w-full x-overflow-y-hidden x-items-center">
                    <button
                        class="back-button x-absolute x-left-[8px] x-text-[24px] x-text-gray-300 hover:x-text-gray-600 x-transition-colors x-duration-300"><i
                            class='bx bx-x-circle'></i></button>
                    <div class="x-flex x-justify-center x-items-center x-w-full"
                        data-flickity='{ "freeScroll": true, "cellAlign": "left" }'>
                        <button class="variant-choice" data-variant-image="{{ 'asset1.webp' | asset_url }}">Dog</button>
                        <button class="variant-choice" data-variant-image="{{ 'asset2.jpg' | asset_url }}">Cat</button>
                        <button class="variant-choice" data-variant-image="{{ 'founder_pholder.png' | asset_url }}">Snake</button>
                        <button class="variant-choice" data-variant-image="{{ 'asset1.webp' | asset_url }}">Dog</button>
                        <button class="variant-choice" data-variant-image="{{ 'asset2.jpg' | asset_url }}">Cat</button>
                        <button class="variant-choice" data-variant-image="{{ 'founder_pholder.png' | asset_url }}">Snake</button>
                    </div>
                </div>
                <button class="add-button x-bg-white x-absolute x-bottom-0 x-w-full x-overflow-y-hidden x-flex x-items-center x-justify-center">
                    Add to cart
                </button>
            </div>
            <a href="#" class="product-details x-h-[96px] x-flex x-flex-col x-justify-center x-gap-[2px] x-px-[8px]">
                <div class="">product name</div>
                <div class="">product price</div>
            </a>
        </div>


    </div>
</div>


<script>
    $(function () {
        $(".resizable").resizable();
    });

    $(".variant-choice").on("mouseenter", function () {
        const variantImage = $(this).data("variant-image");
        $(this).closest(".product-image").css("background-image", `url(${variantImage})`);
    });

    // Handle mouse events on product images
    $(".product-image").on("mouseenter", function () {
        const addButton = $(this).find(".add-button");

        if (!addButton.hasClass("variant-active")) {
            addButton.css("height", "48px");
        }
    });

    $(".product-image").on("mouseleave", function () {
        const addButton = $(this).find(".add-button");

        if (!addButton.hasClass("loading")) {
            addButton.css("height", "0px");
        }
    });

    // Handle add button click
    $(".add-button").on("click", function () {
        const addButton = $(this);
        const variants = addButton.siblings(".variants");

        // Show variants if they exist, otherwise proceed to add to cart
        if (variants.length && !addButton.hasClass("loading")) {
            addButton.addClass("variant-active").css("height", "0px");
            variants.css("height", "64px");
            return;
        }

        if (!addButton.hasClass("loading")) {
            handleAddToCart(addButton);
        }
    });

    // Handle back button click
    $(".back-button").on("click", function () {
        const variants = $(this).parent();
        const addButton = variants.siblings(".add-button");

        variants.css("height", "0px");
        addButton.css("height", "48px").removeClass("variant-active");
    });

    // Handle variant choice click
    $(".variant-choice").on("click", function () {
        const variants = $(this).closest(".variants");
        const addButton = variants.siblings(".add-button");

        variants.css("height", "0px");
        addButton.css("height", "48px").removeClass("variant-active").addClass("active");

        handleAddToCart(addButton);
    });

    // Function to handle add to cart logic
    function handleAddToCart(addButton) {
        addButton.addClass("loading").css("height", "48px");
        addButton.html("<i class='bx bx-loader-alt bx-spin bx-rotate-270'></i>");

        setTimeout(() => {
            addButton.html("Added to cart!");

            setTimeout(() => {
                addButton.removeClass("loading").css("height", "0px").html("Add to cart");
            }, 2000);
        }, 3000);
    }
</script>

<style>
    .flickity-viewport {
        width: 60%;
    }

    .flickity-prev-next-button {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    .flickity-page-dots {
        display: none;
    }

    .flickity-prev-next-button.previous {
        left: 45px;
    }

    .flickity-prev-next-button.next {
        right: 45px;
    }

    .back-button {
        z-index: 1;
    }

    .variant-choice.color div {
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        opacity: 1 !important;
        border: 1.5px solid transparent;
        /* Transparent border */
    }

    .variant-choice.color {
        min-width: 38px;
        min-height: 38px;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1.5px solid;
        border-color: transparent;
        margin-right: 16px;
        transition: border-color 0.3s ease-in-out;
    }

    .variant-choice.color:hover {
        border-color: rgb(59, 59, 59);
    }

    .variant-choice:not(.color) {
        border: rgb(43, 65, 25) 0.5px solid;
        color: rgb(43, 65, 25);
        padding: 8px 16px;
        margin-right: 16px;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .variant-choice:not(.color):hover {
        background-color: rgb(43, 65, 25);
        color: white;
    }

    .add-button {
        height: 0px;
        transition: height 0.5s;
        opacity: 0.8;
    }

    .variants {
        height: 0px;
        transition: height 0.5s;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .resizable {
        aspect-ratio: 6 / 2;
        width: 1280px;
    }
</style>